@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: exo, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-qnu6hi).ant-menu-horizontal {
    border-bottom: 0;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-btn-default:not(:disabled):not(
        .ant-btn-disabled
    ):hover {
    color: black;
    border-color: black;
    background: #ffffff;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
    )::before {
    content: "";
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-layout .ant-layout-sider {
    background: #f7f7f3;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-menu
    .ant-menu-item
    a.bg-border-bottom::before {
    position: absolute;
    inset: 0;
    background-color: transparent;
    content: "";
    border-bottom: 2px solid #f1eeee;
}
body.light {
    --bg-color: white;
}

body.dark {
    --bg-color: #d1cfcf;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
