@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: exo, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-qnu6hi).ant-menu-horizontal {
    border-bottom: 0;
}

body.light {
    --bg-color: white;
}

body.dark {
    --bg-color: #d1cfcf;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
:where(.css-qnu6hi).ant-menu-horizontal {
    border-bottom: none;
}
